* {
  font-family: monospace;
  font-size: 12px;
}

window#waybar {
  background: #000000;
  color: #00ff00;
}

#workspaces button {
  padding: 0 4px;
  background: transparent;
}

#workspaces button.active {
  background: #005500;
}

#pulseaudio.muted {
  color: #555555;
}
