* {
  font-family: monospace;
  font-size: 12px;
}

window#waybar {
  background: #000000;
  color: #00ff00;
}

window#waybar .module {
  padding: 0 6px;
  margin: 0 4px;
  border-radius: 4px;
  transition: background 0.3s ease, color 0.3s ease;
}

window#waybar .module:hover {
  background: #003300;
  color: #ffffff;
}

#workspaces button {
  padding: 2px 6px;
  margin: 0 2px;
  border: 2px solid transparent;
  border-radius: 4px;
  background: #000;
  color: #00ff00;
}

#workspaces button.active {
  border-color: #33ff33;
  background: #0b110b;
  color: #b8ffb8;
}

#workspaces button:hover {
  border-color: #444;
}

#pulseaudio.muted {
  color: #555555;
}
